{:env "prod"
 :instance
  {:name nil
   :description nil
   :admin-email nil
   :admin-account nil}
 :server
  {:host nil
   :port 80
   :protocol "http"}
 :db
  {:host "kitsune_db"
   :db   "kitsune"
   :user "kitsune"
   :pass "whatever"}}
