<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
    ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%date{ISO8601} [%logger{36}][%level] %msg %ex{short}%n</pattern>
    </encoder>
  </appender>
  <appender name="federation" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/federation.log</file>
    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
      <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter" />
      <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampFormat>
      <appendLineSeparator>true</appendLineSeparator>
    </layout>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>log/federation.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>25MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <!-- keep 30 days of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>
  <appender name="access" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/kitsune.log</file>
    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
      <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter" />
      <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampFormat>
      <appendLineSeparator>true</appendLineSeparator>
    </layout>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>log/kitsune.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>25MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <!-- keep 30 days of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <logger name="io.netty" level="warn" />
  <logger name="i.n.buffer" level="warn" />
  <logger name="com.zaxxer.hikari" level="warn" />

  <logger name="bark.core">
    <appender-ref ref="federation" />
  </logger>
  <logger name="kitsune.routes.core">
    <appender-ref ref="access" />
  </logger>

  <root level="DEBUG">
    <appender-ref ref="stdout" />
  </root>
</configuration>
