{:env "dev"
 :instance
  {:name "Kitsune"
   :description "Very fox microblogging"
   :admin-email "admin@kitsune.social"
   :admin-account 1}
 :server
  {:host "kitsune.devel"
   :port 3000
   :scheme "http"}
 :db
  {:host "docker_db"
   :db   "kitsune"
   :user "kitsune"
   :pass "whatever"}}
