;;
{
  :up ["create table if not exists follows (
          id         serial     primary key,
          uri        varchar    not null    unique,
          followed   integer    not null    references accounts(id) on delete cascade,
          follower   integer    not null    references accounts(id) on delete cascade,
          accept_uri varchar                unique,
          created_at timestamp  not null    default now(),
          unique (followed, follower)
        );"]
  :down ["drop table follows;"]
}
