;;
{
  :up ["create table if not exists oauth_tokens (
          id         serial     primary key,
          token      varchar    not null    default encode(gen_random_bytes(32), 'base64') unique,
          refresh    varchar    not null    default encode(gen_random_bytes(32), 'base64') unique,
          user_id    integer    not null    references users(id),
          app_id     integer    not null    references apps(id),
          scopes     varchar[3] not null,
          expires_at timestamp  not null    default now() + interval '10 minute',
          created_at timestamp  not null    default now(),
          updated_at timestamp  not null    default now()
        );"]
  :down ["drop table oauth_tokens;"]
}
